<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CalculatorApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize"
            android:exported="true" />
        <activity-alias
            android:name=".CalculatorLauncher"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calculator"
            android:label="@string/launcher_calculator"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ScannerLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_scanner"
            android:label="@string/launcher_scanner"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".NotesLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_notes"
            android:label="@string/launcher_notes"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ThronesLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_thrones"
            android:label="@string/launcher_thrones"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
